USE [master]
GO
/****** Object:  Database [Sinhvien08]    Script Date: 26/12/2018 9:13:30 AM ******/
CREATE DATABASE [Sinhvien08]
GO
USE [Sinhvien08]
GO
/****** Object:  Table [dbo].[DANG_KY]    Script Date: 26/12/2018 9:13:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANG_KY](
	[MA_SV] [int] NOT NULL,
	[MA_LOP] [int] NOT NULL,
	[NGAY_DANG_KY] [datetime] NOT NULL,
	[DIEM_FINAL] [smallint] NULL,
 CONSTRAINT [DK_PK] PRIMARY KEY CLUSTERED 
(
	[MA_SV] ASC,
	[MA_LOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DIEM]    Script Date: 26/12/2018 9:13:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DIEM](
	[MA_SV] [int] NOT NULL,
	[MA_LOP] [int] NOT NULL,
	[MA_KIEU_DIEM] [char](2) NOT NULL,
	[MA_DIEM_XAY_RA] [int] NOT NULL,
	[DIEM_BANG_SO] [smallint] NOT NULL DEFAULT ((0)),
	[CHU_THICH] [varchar](2000) NULL,
 CONSTRAINT [DI_PK] PRIMARY KEY CLUSTERED 
(
	[MA_SV] ASC,
	[MA_LOP] ASC,
	[MA_KIEU_DIEM] ASC,
	[MA_DIEM_XAY_RA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DIEM_CHUYEN_DOI]    Script Date: 26/12/2018 9:13:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DIEM_CHUYEN_DOI](
	[DIEM_CHU] [varchar](2) NOT NULL,
	[DIEM_SO] [decimal](3, 2) NOT NULL DEFAULT ((0)),
	[DIEM_MAX] [smallint] NOT NULL,
	[DIEM_MIN] [smallint] NOT NULL,
 CONSTRAINT [DICD_PK] PRIMARY KEY CLUSTERED 
(
	[DIEM_CHU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GIAO_VIEN]    Script Date: 26/12/2018 9:13:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GIAO_VIEN](
	[MA_GV] [int] NOT NULL,
	[HO] [varchar](25) NULL,
	[TEN] [varchar](25) NULL,
	[DIA_CHI] [varchar](50) NULL,
	[MA_SO] [varchar](5) NULL,
	[DIEN_THOAI] [varchar](15) NULL,
 CONSTRAINT [GV_PK] PRIMARY KEY CLUSTERED 
(
	[MA_GV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KIEU_DIEM]    Script Date: 26/12/2018 9:13:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KIEU_DIEM](
	[MA_KIEU_DIEM] [char](2) NOT NULL,
	[MO_TA] [varchar](50) NOT NULL,
 CONSTRAINT [KIDI_PK] PRIMARY KEY CLUSTERED 
(
	[MA_KIEU_DIEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 26/12/2018 9:13:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOP](
	[MA_LOP] [int] NOT NULL,
	[MA_MH] [int] NOT NULL,
	[TEN_LOP] [smallint] NOT NULL,
	[NGAY_BAT_DAU] [datetime] NULL,
	[DIA_DIEM] [varchar](50) NULL,
	[MA_GV] [int] NOT NULL,
	[SO_SV] [smallint] NULL,
 CONSTRAINT [LOP_PK] PRIMARY KEY CLUSTERED 
(
	[MA_LOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MON_HOC]    Script Date: 26/12/2018 9:13:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MON_HOC](
	[MA_MH] [int] NOT NULL,
	[MO_TA] [varchar](50) NOT NULL,
	[HOC_PHI] [decimal](9, 2) NULL,
	[MON_DIEU_KIEN] [int] NULL,
 CONSTRAINT [MH_PK] PRIMARY KEY CLUSTERED 
(
	[MA_MH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SINH_VIEN]    Script Date: 26/12/2018 9:13:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SINH_VIEN](
	[MA_SV] [int] NOT NULL,
	[HO] [varchar](25) NULL,
	[TEN] [varchar](25) NOT NULL,
	[DIA_CHI] [varchar](50) NULL,
	[MA_SO] [varchar](5) NOT NULL,
	[DIEN_THOAI] [varchar](15) NULL,
	[CO_QUAN] [varchar](50) NULL,
	[NGAY_VAO_SO] [datetime] NOT NULL,
 CONSTRAINT [SV_PK] PRIMARY KEY CLUSTERED 
(
	[MA_SV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TRONG_SO_KIEU_DIEM]    Script Date: 26/12/2018 9:13:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TRONG_SO_KIEU_DIEM](
	[MA_LOP] [int] NOT NULL,
	[MA_KIEU_DIEM] [char](2) NOT NULL,
	[SO_KIEU_DIEM] [smallint] NOT NULL,
	[PHAN_TRAM_TRONG_DIEM] [smallint] NOT NULL,
	[LOAI_THAP_NHAT] [char](1) NOT NULL,
 CONSTRAINT [TSKDI_PK] PRIMARY KEY CLUSTERED 
(
	[MA_LOP] ASC,
	[MA_KIEU_DIEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VUNG]    Script Date: 26/12/2018 9:13:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VUNG](
	[MA_SO] [varchar](5) NOT NULL,
	[HUYEN] [varchar](25) NULL,
	[TINH] [varchar](25) NULL,
 CONSTRAINT [VUNG_PK] PRIMARY KEY CLUSTERED 
(
	[MA_SO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[DANG_KY] ([MA_SV], [MA_LOP], [NGAY_DANG_KY], [DIEM_FINAL]) VALUES (102, 86, CAST(N'1999-01-30 00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[DANG_KY] ([MA_SV], [MA_LOP], [NGAY_DANG_KY], [DIEM_FINAL]) VALUES (102, 89, CAST(N'1999-01-30 00:00:00.000' AS DateTime), 92)
INSERT [dbo].[DANG_KY] ([MA_SV], [MA_LOP], [NGAY_DANG_KY], [DIEM_FINAL]) VALUES (103, 81, CAST(N'1999-01-30 00:00:00.000' AS DateTime), NULL)
GO
INSERT [dbo].[DIEM] ([MA_SV], [MA_LOP], [MA_KIEU_DIEM], [MA_DIEM_XAY_RA], [DIEM_BANG_SO], [CHU_THICH]) VALUES (102, 86, N'FI', 1, 85, NULL)
INSERT [dbo].[DIEM] ([MA_SV], [MA_LOP], [MA_KIEU_DIEM], [MA_DIEM_XAY_RA], [DIEM_BANG_SO], [CHU_THICH]) VALUES (102, 86, N'HM', 1, 90, NULL)
INSERT [dbo].[DIEM] ([MA_SV], [MA_LOP], [MA_KIEU_DIEM], [MA_DIEM_XAY_RA], [DIEM_BANG_SO], [CHU_THICH]) VALUES (102, 86, N'HM', 2, 99, NULL)
GO
INSERT [dbo].[DIEM_CHUYEN_DOI] ([DIEM_CHU], [DIEM_SO], [DIEM_MAX], [DIEM_MIN]) VALUES (N'A ', CAST(4.00 AS Decimal(3, 2)), 96, 93)
INSERT [dbo].[DIEM_CHUYEN_DOI] ([DIEM_CHU], [DIEM_SO], [DIEM_MAX], [DIEM_MIN]) VALUES (N'A+', CAST(4.30 AS Decimal(3, 2)), 100, 97)
INSERT [dbo].[DIEM_CHUYEN_DOI] ([DIEM_CHU], [DIEM_SO], [DIEM_MAX], [DIEM_MIN]) VALUES (N'A-', CAST(3.70 AS Decimal(3, 2)), 92, 90)
INSERT [dbo].[GIAO_VIEN] ([MA_GV], [HO], [TEN], [DIA_CHI], [MA_SO], [DIEN_THOAI]) VALUES (101, N'Ngo Thi Bich', N'Thuy', N'5A4 Ngoc Dai, Dai Mo', N'01247', N'2125551212')
INSERT [dbo].[GIAO_VIEN] ([MA_GV], [HO], [TEN], [DIA_CHI], [MA_SO], [DIEN_THOAI]) VALUES (102, N'Nguyen Thi', N'An', N'Ngoc Truc, Dai Mo', N'01247', N'2125551212')
INSERT [dbo].[GIAO_VIEN] ([MA_GV], [HO], [TEN], [DIA_CHI], [MA_SO], [DIEN_THOAI]) VALUES (103, N'Dang Quynh', N'Nga', N'xom Cho, Tay Mo', N'01247', N'2125551212')
INSERT [dbo].[KIEU_DIEM] ([MA_KIEU_DIEM], [MO_TA]) VALUES (N'FI', N'Final')
INSERT [dbo].[KIEU_DIEM] ([MA_KIEU_DIEM], [MO_TA]) VALUES (N'HM', N'Homework')
INSERT [dbo].[KIEU_DIEM] ([MA_KIEU_DIEM], [MO_TA]) VALUES (N'MT', N'Midterm')
INSERT [dbo].[LOP] ([MA_LOP], [MA_MH], [TEN_LOP], [NGAY_BAT_DAU], [DIA_DIEM], [MA_GV], [SO_SV]) VALUES (79, 350, 3, CAST(N'1999-04-14 00:00:00.000' AS DateTime), N'L509', 107, 25)
INSERT [dbo].[LOP] ([MA_LOP], [MA_MH], [TEN_LOP], [NGAY_BAT_DAU], [DIA_DIEM], [MA_GV], [SO_SV]) VALUES (80, 10, 2, CAST(N'1999-04-24 00:00:00.000' AS DateTime), N'L214', 102, 15)
INSERT [dbo].[LOP] ([MA_LOP], [MA_MH], [TEN_LOP], [NGAY_BAT_DAU], [DIA_DIEM], [MA_GV], [SO_SV]) VALUES (81, 20, 2, CAST(N'1999-07-24 00:00:00.000' AS DateTime), N'L210', 103, 15)
INSERT [dbo].[MON_HOC] ([MA_MH], [MO_TA], [HOC_PHI], [MON_DIEU_KIEN]) VALUES (10, N'Tong quan ve phat trien he thong', CAST(1195.00 AS Decimal(9, 2)), NULL)
INSERT [dbo].[MON_HOC] ([MA_MH], [MO_TA], [HOC_PHI], [MON_DIEU_KIEN]) VALUES (20, N'Gioi thieu ve 05 tinh', CAST(1195.00 AS Decimal(9, 2)), NULL)
INSERT [dbo].[MON_HOC] ([MA_MH], [MO_TA], [HOC_PHI], [MON_DIEU_KIEN]) VALUES (25, N'Gioi thieu ve lap trinh', CAST(1195.00 AS Decimal(9, 2)), 140)
INSERT [dbo].[SINH_VIEN] ([MA_SV], [HO], [TEN], [DIA_CHI], [MA_SO], [DIEN_THOAI], [CO_QUAN], [NGAY_VAO_SO]) VALUES (102, N'Hoang Thi Thuy', N'Anh', N'TT Nam Dan', N'11419', N'718-555-5555', N'Cong Ty A&H', CAST(N'1999-01-22 00:00:00.000' AS DateTime))
INSERT [dbo].[SINH_VIEN] ([MA_SV], [HO], [TEN], [DIA_CHI], [MA_SO], [DIEN_THOAI], [CO_QUAN], [NGAY_VAO_SO]) VALUES (103, N'Vu Tuan', N'Anh', N'T7 xa Long Phuoc', N'07047', N'201-555-5555', N'Cong Ty A&H', CAST(N'1999-01-22 00:00:00.000' AS DateTime))
INSERT [dbo].[SINH_VIEN] ([MA_SV], [HO], [TEN], [DIA_CHI], [MA_SO], [DIEN_THOAI], [CO_QUAN], [NGAY_VAO_SO]) VALUES (104, N'Trinh Ngoc', N'Ban', N'37 duong Le LOi', N'11435', N'718-555-5555', N'Cong Ty A&H', CAST(N'1999-01-22 00:00:00.000' AS DateTime))
GO
INSERT [dbo].[TRONG_SO_KIEU_DIEM] ([MA_LOP], [MA_KIEU_DIEM], [SO_KIEU_DIEM], [PHAN_TRAM_TRONG_DIEM], [LOAI_THAP_NHAT]) VALUES (79, N'FI', 1, 25, N'N')
INSERT [dbo].[TRONG_SO_KIEU_DIEM] ([MA_LOP], [MA_KIEU_DIEM], [SO_KIEU_DIEM], [PHAN_TRAM_TRONG_DIEM], [LOAI_THAP_NHAT]) VALUES (79, N'HM', 10, 50, N'Y')
INSERT [dbo].[TRONG_SO_KIEU_DIEM] ([MA_LOP], [MA_KIEU_DIEM], [SO_KIEU_DIEM], [PHAN_TRAM_TRONG_DIEM], [LOAI_THAP_NHAT]) VALUES (79, N'MT', 1, 25, N'N')
GO
INSERT [dbo].[VUNG] ([MA_SO], [HUYEN], [TINH]) VALUES (N'00000', N'thu', N'demo')
INSERT [dbo].[VUNG] ([MA_SO], [HUYEN], [TINH]) VALUES (N'01247', N'Tu Liem', N'Ha Noi')
INSERT [dbo].[VUNG] ([MA_SO], [HUYEN], [TINH]) VALUES (N'02124', N'Thanh Xuan', N'Ha Noi')
GO
/****** Object:  Index [DK_LOP_FK_I]    Script Date: 26/12/2018 9:13:30 AM ******/
CREATE NONCLUSTERED INDEX [DK_LOP_FK_I] ON [dbo].[DANG_KY]
(
	[MA_LOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [DI_DITW_FK_I]    Script Date: 26/12/2018 9:13:30 AM ******/
CREATE NONCLUSTERED INDEX [DI_DITW_FK_I] ON [dbo].[DIEM]
(
	[MA_LOP] ASC,
	[MA_KIEU_DIEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [GV_MA_SO_FK_I]    Script Date: 26/12/2018 9:13:30 AM ******/
CREATE NONCLUSTERED INDEX [GV_MA_SO_FK_I] ON [dbo].[GIAO_VIEN]
(
	[MA_SO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [LOP_MH_UK]    Script Date: 26/12/2018 9:13:30 AM ******/
ALTER TABLE [dbo].[LOP] ADD  CONSTRAINT [LOP_MH_UK] UNIQUE NONCLUSTERED 
(
	[TEN_LOP] ASC,
	[MA_MH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [LOP_GV_FK_I]    Script Date: 26/12/2018 9:13:30 AM ******/
CREATE NONCLUSTERED INDEX [LOP_GV_FK_I] ON [dbo].[LOP]
(
	[MA_GV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [LOP_MON_FK_I]    Script Date: 26/12/2018 9:13:30 AM ******/
CREATE NONCLUSTERED INDEX [LOP_MON_FK_I] ON [dbo].[LOP]
(
	[MA_MH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MON_MON_FK_I]    Script Date: 26/12/2018 9:13:30 AM ******/
CREATE NONCLUSTERED INDEX [MON_MON_FK_I] ON [dbo].[MON_HOC]
(
	[MON_DIEU_KIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [SV_MA_SO_FK_I]    Script Date: 26/12/2018 9:13:30 AM ******/
CREATE NONCLUSTERED INDEX [SV_MA_SO_FK_I] ON [dbo].[SINH_VIEN]
(
	[MA_SO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [DITW_DIKI_FK_I]    Script Date: 26/12/2018 9:13:30 AM ******/
CREATE NONCLUSTERED INDEX [DITW_DIKI_FK_I] ON [dbo].[TRONG_SO_KIEU_DIEM]
(
	[MA_KIEU_DIEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DANG_KY]  WITH CHECK ADD  CONSTRAINT [DK_LOP_FK] FOREIGN KEY([MA_LOP])
REFERENCES [dbo].[LOP] ([MA_LOP])
GO
ALTER TABLE [dbo].[DANG_KY] CHECK CONSTRAINT [DK_LOP_FK]
GO
ALTER TABLE [dbo].[DANG_KY]  WITH CHECK ADD  CONSTRAINT [DK_SV_FK] FOREIGN KEY([MA_SV])
REFERENCES [dbo].[SINH_VIEN] ([MA_SV])
GO
ALTER TABLE [dbo].[DANG_KY] CHECK CONSTRAINT [DK_SV_FK]
GO
ALTER TABLE [dbo].[DIEM]  WITH CHECK ADD  CONSTRAINT [DI_DITW_FK] FOREIGN KEY([MA_LOP], [MA_KIEU_DIEM])
REFERENCES [dbo].[TRONG_SO_KIEU_DIEM] ([MA_LOP], [MA_KIEU_DIEM])
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [DI_DITW_FK]
GO
ALTER TABLE [dbo].[DIEM]  WITH CHECK ADD  CONSTRAINT [DI_DK_FK] FOREIGN KEY([MA_SV], [MA_LOP])
REFERENCES [dbo].[DANG_KY] ([MA_SV], [MA_LOP])
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [DI_DK_FK]
GO
ALTER TABLE [dbo].[GIAO_VIEN]  WITH CHECK ADD  CONSTRAINT [GV_MA_SO_FK] FOREIGN KEY([MA_SO])
REFERENCES [dbo].[VUNG] ([MA_SO])
GO
ALTER TABLE [dbo].[GIAO_VIEN] CHECK CONSTRAINT [GV_MA_SO_FK]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [LOP_GV_FK] FOREIGN KEY([MA_GV])
REFERENCES [dbo].[GIAO_VIEN] ([MA_GV])
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [LOP_GV_FK]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [LOP_MON_FK] FOREIGN KEY([MA_MH])
REFERENCES [dbo].[MON_HOC] ([MA_MH])
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [LOP_MON_FK]
GO
ALTER TABLE [dbo].[MON_HOC]  WITH CHECK ADD  CONSTRAINT [MON_MON_FK] FOREIGN KEY([MON_DIEU_KIEN])
REFERENCES [dbo].[MON_HOC] ([MA_MH])
GO
ALTER TABLE [dbo].[MON_HOC] CHECK CONSTRAINT [MON_MON_FK]
GO
ALTER TABLE [dbo].[SINH_VIEN]  WITH CHECK ADD  CONSTRAINT [SV_MA_SO_FK] FOREIGN KEY([MA_SO])
REFERENCES [dbo].[VUNG] ([MA_SO])
GO
ALTER TABLE [dbo].[SINH_VIEN] CHECK CONSTRAINT [SV_MA_SO_FK]
GO
ALTER TABLE [dbo].[TRONG_SO_KIEU_DIEM]  WITH CHECK ADD  CONSTRAINT [DITW_DIKI_FK] FOREIGN KEY([MA_KIEU_DIEM])
REFERENCES [dbo].[KIEU_DIEM] ([MA_KIEU_DIEM])
GO
ALTER TABLE [dbo].[TRONG_SO_KIEU_DIEM] CHECK CONSTRAINT [DITW_DIKI_FK]
GO
ALTER TABLE [dbo].[TRONG_SO_KIEU_DIEM]  WITH CHECK ADD  CONSTRAINT [DITW_LOP_FK] FOREIGN KEY([MA_LOP])
REFERENCES [dbo].[LOP] ([MA_LOP])
GO
ALTER TABLE [dbo].[TRONG_SO_KIEU_DIEM] CHECK CONSTRAINT [DITW_LOP_FK]
GO
ALTER TABLE [dbo].[KIEU_DIEM]  WITH CHECK ADD  CONSTRAINT [KIDI_MA_KIEU_DIEM_LEN] CHECK  ((len([MA_KIEU_DIEM])=(2)))
GO
ALTER TABLE [dbo].[KIEU_DIEM] CHECK CONSTRAINT [KIDI_MA_KIEU_DIEM_LEN]
GO
USE [master]
GO